.input{
    border-radius: 8px;
    border-color: transparent;
    outline: none;
    &--s {
        width: 100px;
    }
    &--m {
        width: 150px;
    }

    &--l {
        width: 300px;
    }


}