.radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .radio-input {
    margin-right: 8px;
    cursor: pointer;
  }
  
  .radio-label {
    font-size: 16px;
    cursor: pointer;
  }